<!DOCTYPE html>
<html>

<head>
    {% header adaptor="modernizr" %}

    <!-- 模板静态资源 -->
    {% assets 'base.css m.css main.js index.js swiper.min.css swiper.min.js banner.js' %}
    {% endassets %}

    <!-- 二次开发静态资源 -->
    {% assets 'dora.front.js white.css' %}
    {% endassets %}

    {% endheader %}


</head>


<body>
    <script type="text/javascript">document.write(unescape("%3Cspan style=display:none id='cnzz_stat_icon_1279901695'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1279901695' type='text/javascript'%3E%3C/script%3E"));</script>    <input type="hidden" value="{{lsk}}" id="sysKeys">
    {% include "./public/header.html" %}
    <div class="clear blank"></div>

    <input type="hidden" value="{{site.lang}}" id="siteLang">
    {% block content %}{% endblock %}

    {% include "./public/footer.html" %}
</body>

</html>