{% extends "../default.html" %} {% block content %}{% import "../public/adsPannel.html" as adsPannel %}

<article>
    <div class="left-box">
        <div class="weizhi ">您现在的位置是：<a href="/">首页</a>&nbsp;>&nbsp;
        {% if pageType != 'search' and pageType != 'tag' %}
        <a href="{{cateInfo.url}}">{{list_title}}</a>
        {% else %}
        {{list_title}}
        {% endif %}
  			</div>
        {% if pageType != 'search' and pageType != 'tag' %}
          <div class="zhuanti"> <a href="javascript:;"> <span>分类</span><img
                src="http://www.qupucha.com:8080/static/themes/hidora/picture/a5770eeddc893fcd0bc56dd615b2a1b1.png" alt="三维模型师的职业前景是怎样的？">
              <section>
                <h2>{{cateInfo.name}}</h2>
                <p>{{cateInfo.comments}}</p>
              </section>
            </a> </div>
        {% endif %}
        
        <div class="blogs">         
            {% include "../public/itemListTemp.html" %}
        </div> 
       
    </div>
         
    <aside class="side-section right-box">
        {% include "../public/reCommendList.html" %}
        <div class="blank clear"></div>
        {% include "../public/hotNewsList.html" %}
        <div class="blank clear"></div>
        <div class="whitebg cloud">
            {% hottags pageSize=20 %}
            <h2 class="side-title">标签云</h2>
            <ul>
                {% for tagItem in hottags %}
                <a href="{{tagItem.url}}" target="_blank">{{tagItem.name}}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="ad ad-small">小图广告（320*140）</div>
        {% include "../public/newItemList.html" %}
    </aside>
</article>      
<div class="clear blank"></div>
{% endblock %}